<%
	columns = [{ label: "Sort Task Lists by Name", sort: "name" }]
%>
<%= table_for(columns, @task_lists, html: {class: ""}) do |t| %>
<!-- 	<%= t.header do %>
		<%= t.toolbar do %>
			<%= t.search_form(form_options: {method: 'get'}) %>
		<% end %>
			<%= t.column_headings %>
	<% end %> -->
    <% if logged_in? && current_user.admin %>
        <td>
            &nbsp&nbsp Admin: All Task Lists
        </td>
    <% else %>
        <td>
            <% if logged_in? %>
                &nbsp&nbsp <%= link_to "My Task Lists", root_path, class: "btn btn-light" %> <%= link_to "All Task Lists", root_path(:query => "all"), class: "btn btn-light" %> 
            <% else %>
                All Task Lists
            <% end %>
        </td>
    <% end %>

	<%= t.body do |task_list| %>
		<td>
			&nbsp&nbsp<span class="badge badge-info"><i class="fas fa-tasks"></i> <%= task_list.tasks.count %></span> &nbsp&nbsp<%= link_to task_list.name, task_list_path(task_list.id), class: "tlist-link" %> <span class="author">by <%= User.find(task_list.user_id).login %></span>
		</td>
		<td>
            <% if logged_in? && (task_list.user_id == current_user.id || current_user.admin) %>
    			<%= link_to task_list_path(task_list.id), method: :delete, id: task_list.id, class: "dropdown-item" do %>
    	    	<i class="far fa-trash-alt"></i> 
    	    	<% end %> 
            <% end %>
		</td>
	<% end %>
<% end %>
