<h2 class="list-form">Create new Task List</h2>
<br>
<% if @task_list.errors.full_messages != [] %>
    <h4><%= @task_list.errors.full_messages %></h4>
    <br>
<% end %>
<div class="list-form">
    <%= semantic_form_for @task_list do |f| %>
        <%= f.inputs do %>
            <%= f.input :name, :as => :string %>
            <%= f.input :categories, :as => :check_boxes, :collection => @categories %>
        <%end%>
        <%= f.inputs :name => "Tasks" do %>
            <%= f.semantic_fields_for :tasks do |task| %>
                <%= task.inputs do %>
                    <%= task.input :name, :as => :string %>
                    <%= task.input :description, :as => :string %>
                    <%= task.input :position, :as => :hidden %>
                    <hr>
                <% end %>
            <% end %>
        <% end %>

        <%= f.actions %>
    <% end %>
    <br>
</div>